body {
  background-color: grey;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  width: 400px;
  padding: 16px;
  background-color: #e38273;
}

.profile img {
  border: 3px solid #c16f66;
  border-radius: 50%;
}

.profile-content {
  width: 400px;
  padding: 16px;
  background-color: #905148;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.profile-content h1 {
  font-size: 24px;
  font-weight: 600;
}

.profile-content h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}

.profile-social {
  background-color: #763e38;
  padding: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 32px;
  width: 400px;
}

.profile-social a {
  color: white;
}

.profile-content li {
  text-align: start;
}
